<h1><%= @article.title %></h1>
<p>Tags: <%= tag_links(@article.tags) %></p>
<p><%= image_tag @article.image.url %></p>
<p><%= @article.body %></p>



<h3>Comments (<%= @article.comments.count %>)</h3>
<%= render :partial => 'comment', :collection => @article.comments %>

<%= render :partial => 'comment_form' %>
<%= link_to "<< Back to Resources", articles_path %>
<%= link_to "delete", article_path(@article), :method => :delete,  :confirm => "Really Delete Resource?" %>

<%= link_to "Edit Resource", edit_article_path(@article) %>
<% if logged_in? %>
	<% end %>